h1{
    text-align: center;
}
ul{
    list-style-type: none;
    border: 1px solid red;
}
li{
    text-decoration: line-through;
    background-color: #EBE645;
}
.deneme{
    background-color: #344CB7;
    text-decoration: none;
}
.kutu{
    background-color:#344CB7;
    color: #fff;
    margin: 50px;
    padding: 50px;

}